.logo {
    height: 3.5em;

}
.navMenu {
    max-width: 70%;
}
.navbar-toggle {
    overflow: hidden;
}
.navbar-default {
    background-color: #42BA85;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border: none;
    overflow: hidden;
}

.navbar-default:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    cursor: pointer; }

.navbar-collapse.collapsing{
    overflow: hidden !important;
}

@media screen and (min-width: 993px) {
     a.linkMod {
        padding: 15px 8px;
        font-size: 14px;
        transition: all 0.3s;
        color: darkblue;}}

.active {
    background-color:  #6EB798;
    border-radius: 30%;
}

a:hover, a:focus {
    text-decoration: none;
}

nav ul a {
    display: inline-block;
    padding: 15px 8px 15px 8px;
    font-size: 14px;
    transition: all 0.3s;
}

@media (max-width: 999px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse.collapsing{
        overflow: hidden !important;
    }
    .navbar-collapse.collapse:not(.in) {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        /*margin: 7.5px -15px;*/
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}