article.team {
    padding-top: 10%;
    background: none; }

section.team {
    text-align: center;
    padding: 2% 0;
    background: none; }

.img-team {
    border-radius: 50%;
    width: 35%;
    background: none; }