html, body {
  margin: 0;
  padding: 0 !important;
  border: 0;
  height: 100%;
  background: none;
}
@media screen and (max-width: 768px) {
  h1, h2 {
    margin: 0;
    padding: 0;
  }
  h3, h4 {
    margin: 0;
    padding: 0;
  }
  h5, h6 {
    margin: 0;
    padding: 0;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}
nav ul a {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
p, span, a, li {
  font-family: 'Roboto', sans-serif;
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

